/*BEGIN override browser defaults*/
html {
  font-size: 10px;
}
body {
  margin: 0;
}
h1, h2, h3, h4, h5, h6, p, a, ul, ol, li {
  margin: 0;
  padding: 0;
}
a, a:hover, a:visited, a:active {
  text-decoration: none;
}
/*END override browser defaults*/